/*

[Custom Stylesheet]

Project     : JD - Responsive Personal vCard / CV / Resume Template
Version     : 1.0
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks

You can write your custom css styles in this file...

*/
.about--block .title:before {
    content: " ";
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 50%;
    background-color: #82b440;
    z-index: 1;
}

#mt-logo {

    max-width: 12%;
    min-width: 2%;
    
    
    /* background-blend-mode: multiply; */
    /* opacity: .5;
    filter: alpha(opacity=100); */
    /* mix-blend-mode: multiply; */
}

/* .bold_title  {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 14px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
} */
      